/* PlayButton.css */
button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  button:active {
    transform: scale(0.95); /* Slight shrink effect */
  }

  button.darkMode{
    background-color: yellow; /* Red color */
    color: black; /* White text */
  }
  button.lightMode{
    background-color: black; /* Red color */
    color: yellow; /* White text */
  }